h1{
    color: red;
    font-size: 60px;

}

body{
    background-color: #f2f2f2;
}

.position-relative {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.position-relative:hover .overlay-text {
    opacity: 1;
}


.clickable-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.modal-body img {
    width: 100%;
    height: auto;
}